// nav-bar.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

$nav-bar-height: calc-size(6, 3, 2);

nav-bar {
    @include flex(center, center, row);
    width: 100%;
    height: $nav-bar-height;
    //background: radial-gradient(at top, $purple-sprite 90%, $black-shadow);
    background-color: $morning-frost-blue;
    //box-shadow: $navy-blue 0 0 $fifteen-percent simplest-calc(0.25);
    @extend %softest-raise-above-box-shadow;
    nav {
        @include flex(space-around, center, row);
        width: 50%;
    }
}
//@media screen and (max-width: 1200px) {
//    nav-bar {
//        nav {
//            width: 70%;
//        }
//    }
//}
//@media screen and (max-width: 1000px) {
//    nav-bar {
//        nav {
//            width: 80%;
//        }
//    }
//}