main {
    margin: calc(((1.5vw + 1.5vh) / 2) + 1em);
}
#carb-counter-section {
    padding: calc(((2vw + 2vh) / 2) + 1em);
    box-shadow: var(--cloudy) calc(((1vw + 1vh) / 2) / 2) calc(((1vw + 1vh) / 2) / 2) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: calc(((3vw + 3vh) / 2) + 1em);
    width: calc(((50vw + 50vh) / 2) + 20em);
}
.carb-input-with-title {
    margin: calc(((0.75vw + 0.75vh) / 2) + 0.5em);
}
.carb-input-div {
    margin: calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    display: flex;
    align-items: center;
    justify-content: center;
}
.carb-input {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    width: calc(((10vw + 10vh) / 2) + 3em);
    height: calc(((1.25vw + 1.25vh) / 2) + 1em);
}