@import "global-variables";
@import "global-mixins";
@import "global-functions";
main {
    margin: calc(((1.5vw + 1.5vh) / 2) + 1em);
}
#title-section {
    @include flex(center, center, column);
    padding: calc(((1vw + 1vh) / 2) + 1em);
    margin: 0;
}
#carb-counter-section {
    padding: calc(((2vw + 2vh) / 2) + 1em);
    box-shadow: $cloudy calc(((1vw + 1vh) / 2) / 2) calc(((1vw + 1vh) / 2) / 2) 0 0;
    @include flex(center, center, column);
    border-radius: $three-percent;
    width: $thirty-percent;
    border: $very-thin-border solid $cloudy;
}
.carb-input-with-output {
    width: auto;
}
.item-number-div {
    @include flex(center, center, row);
}
.carb-input-with-title {
    margin: calc(((0.75vw + 0.75vh) / 2) + 0.5em);
}
.carb-input-div {
    margin: $half-percent;
    @include flex(center, center, row);
}
.carb-input {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    @include size($ten-percent, simple-calc(1.25, 1));
}
.carb-output-title-div {
    @include flex(center, center, row);
    margin: calc(((0.5vw + 0.5vh) / 2) + 0.25em) 0;
}
