@import "global-variables";
@import "global-mixins";
@import "global-functions";
@import "bootstrap/scss/bootstrap";
main {
    width: 100%;
    @include flex(center, center, column);
}
#title-section {
    @include flex(center, center, column);
    width: 100%;
    background-color: $pure-grey;
    margin:  $one-half-percent 0;
    padding: $one-half-percent 0;
    border-top: $very-thin-border solid $aqua-splash;
    border-bottom: $very-thin-border solid $aqua-splash;
}
#output-section {
    width: calc(((75vw + 75vh) / 2) + 8em);
    max-width: 96vw;
    @include flex(center, center, column);
}
#generated-comment {
    width: 100%;
    @include flex(center, center, row);
    margin: 0 0 calc(((1vh + 1vw) / 2) + 0.5em) 0;
}

#settings-section {
    @include flex(center, center, column);
    width: 100%;
    background-color: $steel-teal;
    color: $snowflake;
    margin:  $one-half-percent 0;
    padding: $one-half-percent 0;
}
#settings-title-div {
    @include flex(center, center, row);
    @include basic-margin-padding(0, 0);
}
#heading-type-div {
    @include flex(center, center, column);
    width: 80%;
    background-color: $steel-teal;
    color: $snowflake;
    padding: calc(((0.125vh + 0.125vw) / 2) + 0.1em) 0;
}
#comment-type-dropdown {
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
#chosen-heading-type-title-code {
    @include flex(center, center, row);
    width: 100%;
    background-color: $steel-teal;
    color: $snowflake;
    padding: 0;
    margin: 0 calc((((0.5vw + 0.5vh) / 2) + 0.5em) + (((10vw + 10vh) / 2) + 3em)) calc(((0.25vw + 0.25vh) / 2) + 0.15em) 0;
}
#current-type-chosen-div {
    @include flex(center, center, row);
    width: $ten-percent;
    margin: 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0 0;
}
#current-type-chosen-code {
    border: calc(((0.1vw + 0.1vh) / 2) + 0.1em) solid $aqua-splash;
    color: $night-velvet !important;
}
#code-heading-type-dropdown {
    @include flex(center, center, column);
    width: 100%;

}
#copy-to-clipboard-button {
    @include flex(center, center, row);
    width: auto;
}
#heading-text-div {
    @include flex(center, center, column);
    width: 100%;
    background-color: $steel-teal;
}
#heading-text-input {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    width: calc(((20vw + 20vh) / 2) + 5em) !important;
    height: calc(((1.25vw + 1.25vh) / 2) + 1em) !important;
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em) 0 0 calc(((0.75vw + 0.75vh) / 2) + 0.25em);
}
#indentation-div {
    @include flex(center, center, column);
    width: 100%;
    margin: calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0;
}
.comment-input {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    width: calc(((20vw + 20vh) / 2) + 5em);
    height: calc(((1.25vw + 1.25vh) / 2) + 1em);
}
.comment-input-number {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    width: calc(((5vw + 5vh) / 2) + 1.25em);
    height: calc(((1.25vw + 1.25vh) / 2) + 1em);
}
#heading-text-clear-button {
    height: calc(((1.25vw + 1.25vh) / 2) + 1em) !important;
    width: calc(((1.25vw + 1.25vh) / 2) + 1em) !important;
    @include flex(center, center, row);
    margin: 0 !important;
    padding: 0 !important;
    font-size: calc(((1.2vw + 1.2vh) / 2) + 0.1em) !important;
    border-radius: 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em) calc(((0.5vw + 0.5vh) / 2) + 0.25em) 0;
}
@media screen and (min-width: 1200px) {
    .header-output-option {
        font-size: min(calc(((1vw + 1vh) / 2) + 5px), 24px) !important;
    }
}
