main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--pure-grey);
    margin: calc(((1.5vh + 1.5vw) / 2) + 0.5em) 0;
    padding: calc(((1.5vh + 1.5vw) / 2) + 0.5em) 0;
    border-top: var(--thin-border) solid var(--aqua-splash);
    border-bottom: var(--thin-border) solid var(--aqua-splash);
}
#output-section {
    width: calc(((75vw + 75vh) / 2) + 8em);
    max-width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#generated-comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 calc(((1vh + 1vw) / 2) + 0.5em) 0;
}

#settings-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--steel-teal);
    color: var(--snowflake);
    margin: calc(((1.5vh + 1.5vw) / 2) + 0.5em) 0;
    padding: calc(((1.5vh + 1.5vw) / 2) + 0.5em) 0;

}
#heading-type-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: var(--steel-teal);
    color: var(--snowflake);
    padding: calc(((1vh + 1vw) / 2) + 0.25em) 0;
}
#comment-type-dropdown {
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
#chosen-heading-type-title-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--steel-teal);
    color: var(--snowflake);
    padding: 0;
    margin: 0 calc((((0.5vw + 0.5vh) / 2) + 0.5em) + (((10vw + 10vh) / 2) + 3em)) calc(((0.5vw + 0.5vh) / 2) + 0.3em) 0;
}
#current-type-chosen-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(((10vw + 10vh) / 2) + 3em);
    margin: 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0 0;
}
#current-type-chosen-code {
    border: calc(((0.1vw + 0.1vh) / 2) + 0.1em) solid var(--aqua-splash);
    color: var(--night-velvet) !important;
}
#code-heading-type-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
#heading-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--steel-teal);
    flex-direction: column;
}
#heading-text-input {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    width: calc(((20vw + 20vh) / 2) + 5em) !important;
    height: calc(((1.25vw + 1.25vh) / 2) + 1em) !important;
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em) 0 0 calc(((0.75vw + 0.75vh) / 2) + 0.25em);
}
#indentation-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0;
    flex-direction: column;
}
.comment-input {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    width: calc(((20vw + 20vh) / 2) + 5em);
    height: calc(((1.25vw + 1.25vh) / 2) + 1em);
}
.comment-input-number {
    padding: 0 0 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    width: calc(((5vw + 5vh) / 2) + 1.25em);
    height: calc(((1.25vw + 1.25vh) / 2) + 1em);
}
#heading-text-clear-button {
    height: calc(((1.25vw + 1.25vh) / 2) + 1em) !important;
    width: calc(((1.25vw + 1.25vh) / 2) + 1em) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    font-size: calc(((1.2vw + 1.2vh) / 2) + 0.1em) !important;
    border-radius: 0 calc(((0.5vw + 0.5vh) / 2) + 0.25em) calc(((0.5vw + 0.5vh) / 2) + 0.25em) 0;
}
