/*
- #FAFDFE - Snowflake
- #D6E4EA - Cloudy
- #B9CFD7 - Fog Grey
- #8DD8DA - Aqua Splash
- #5E8998 - Steel Teal
- #53436B - Twilight Velvet
- #2B314F - Night Velvet
- #021F32 - Midnight Tide
- #000E1A - Black Navy
 */
:root {
    --snowflake: #FAFDFE;
    --cloudy: #D6E4EA;
    --pure-grey: #d7d7d7;
    --fog-grey: #B9CFD7;
    --aqua-splash: #8DD8DA;
    --steel-teal: #5E8998;
    --twilight-velvet: #53436B;
    --night-velvet: #2B314F;
    --midnight-tide: #021F32;
    --black-navy: #000E1A;

    --thin-border: calc(((0.05vw + 0.05vh) / 2) + 0.05em);
}
h1 {
    font-size: calc(((4.25vw + 4.25vh) / 2) + 10px);
    margin: 0;
    padding: 0;
}
h2 {
    font-size: calc(((3.25vw + 3.25vh) / 2) + 9px);
    margin: 0;
    padding: 0;
}
h3 {
    font-size: calc(((2.5vw + 2.5vh) / 2) + 8px);
    margin: 0;
    padding: 0;
}
h4 {
    font-size: calc(((2vw + 2vh) / 2) + 7px);
    margin: 0;
    padding: 0;
}
h5 {
    font-size: calc(((1.5vw + 1.5vh) / 2) + 6px);
    margin: 0;
    padding: 0;
}
h6 {
    font-size: calc(((1vw + 1vh) / 2) + 5px);
    margin: 0;
    padding: 0;
}
p {
    font-size: calc(((1vw + 1vh) / 2) + 5px);
    margin: 0;
    padding: 0;
}
.link-no-style {
    text-decoration: none;
    color: inherit;
}
body {
    /*background-color: var(--cloudy);*/
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Arial, sans-serif;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    background-color: var(--snowflake);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(((2vw + 2vh) / 2) + 2em);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: calc(((0.05vw + 0.05vh) / 2) + 0.05em) solid var(--cloudy);
    box-shadow: var(--cloudy) 0 0 calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em);
}
#nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.nav-bar-item {
    border-right: var(--thin-border) solid var(--black-navy);
    padding: 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em);
}
.nav-bar-end-item {
    padding: 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    border-left: var(--thin-border) solid var(--black-navy);
}
.nav-bar-text {
    padding: 0;
    margin: 0;
}
.dropdown-button {
    background-color: var(--snowflake) !important;
    border: none;
    color: var(--black-navy) !important;
    font-size: calc(((1vw + 1vh) / 2) + 5px) !important;
    font-weight: 500 !important;
    margin: 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em) !important;
}
.dropdown-menu .dropdown-item:hover {
    background-color: var(--cloudy);
}
#see-all-tools-text {
    font-style: italic;
    text-decoration: underline;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
img {
    user-select: none;
}
code {
    font-size: calc(((1.4vw + 1.4vh) / 2) + 6px) !important;
    font-weight: 500 !important;
    color: var(--steel-teal) !important;
}
.code-output-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: calc(((0.05vh + 0.05vw) / 2) + 0.05em) calc(((0.5vh + 0.5vw) / 2) + 0.5em);
    background-color: var(--pure-grey);
    border-radius: calc(((2.35vh + 2.35vw) / 2) + 0.5em);
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.25em) 0;
}
.flexed-row-spaced {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.flexed-row-spaced-vertical {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'%3e%3c/path%3e%3c/svg%3e") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'%3e%3c/path%3e%3c/svg%3e") !important;
}
hr {
    margin: 0;
    width: 100%;
    border: none;
    border-top: var(--thin-border) solid var(--black-navy);
}
.medium-button {
    width: calc(((11vw + 11vh) / 2) + 7em);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em) calc(((1vw + 1vh) / 2) + 1em);
    border-radius: calc(((0.75vw + 0.75vh) / 2) + 0.25em);
    box-shadow: var(--fog-grey) calc(((0.15vw + 0.15vh) / 2) + 0.15em) calc(((0.15vw + 0.15vh) / 2) + 0.15em) 0 0;
    font-size: calc(((1vw + 1vh) / 2) + 5px);
    font-weight: 500;
    background-color: var(--aqua-splash);
    color: var(--black-navy);
    border: var(--thin-border) solid var(--cloudy);
    transition: margin-bottom, margin-left, box-shadow, 0.3s;
}
.medium-button:hover {
    box-shadow: var(--fog-grey) calc(((0.2vw + 0.2vh) / 2) + 0.2em) calc(((0.2vw + 0.2vh) / 2) + 0.2em) 0 0;
}
.medium-button:active {
    margin-bottom: calc((((0.2vw + 0.2vh) / 2) + 0.2em) * -1);
    margin-left: calc(((0.2vw + 0.2vh) / 2) + 0.2em);
    box-shadow: none;
}
.small-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    border-radius: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    box-shadow: var(--fog-grey) calc(((0.1vw + 0.1vh) / 2) + 0.1em) calc(((0.1vw + 0.1vh) / 2) + 0.1em) 0 0;
    font-size: calc(((0.75vw + 0.75vh) / 2) + 3px);
    font-weight: 500;
    background-color: var(--aqua-splash);
    color: var(--black-navy);
    border: var(--thin-border) solid var(--cloudy);
    transition: margin-bottom, margin-left, box-shadow, 0.3s;
}
.small-button:hover {
    box-shadow: var(--fog-grey) calc(((0.15vw + 0.15vh) / 2) + 0.15em) calc(((0.15vw + 0.15vh) / 2) + 0.15em) 0 0;
}
.small-button:active {
    margin-bottom: calc((((0.15vw + 0.15vh) / 2) + 0.15em) * -1);
    margin-left: calc(((0.15vw + 0.15vh) / 2) + 0.15em);
    box-shadow: none;
}
footer {
    margin-top: auto;
}