#intro-section {
    margin: calc(((1vw + 1vh) / 2) + 1em) 0 calc(((2vw + 2vh) / 2) + 2em) 0;
    box-shadow: var(--black-navy) calc(((0.5vw + 0.5vh) / 2) + 0.5em) calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0 0;
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    width: calc(((50vw + 50vh) / 2) + 10em);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(((10vw + 10vh) / 2) + 10em);
    border: var(--thin-border) solid var(--black-navy);
    max-width: 1200px;
    padding: 0 0 calc(((1vw + 1vh) / 2) + 1em) 0;
}
#title-with-motto-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0;
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    /*background-color: var(--twilight-velvet);*/
    /*background-color: var(--aqua-splash);*/
    /*box-shadow: var(--aqua-splash) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.15vw + 0.15vh) / 2) + 0.15em) 0 0;*/
}
#title-text-div {
    margin: 0 calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#title-text {
    color: var(--black-navy);
    padding: calc(((0.25vw + 0.25vh) / 2) + 0.15em);
    /*font-size: calc(((3vw + 3vh) / 2) + 10px);*/
    /*padding: 0;*/

}
#motto-text-div {
    width: 75%;
    /*margin: calc(((0.5vw + 0.5vh) / 2) + 0.5em) 0;*/
    margin: 0;
    background-color: var(--cloudy);
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    /*border: calc(((0.05vw + 0.05vh) / 2) + 0.05em) solid var(--black-navy);*/
    box-shadow: var(--black-navy) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
#motto-text {
    font-style: italic;
    /*color: var(--steel-teal);*/
    color: var(--steel-teal);
    padding: 0;
    text-align: center;
}
#intro-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0;
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
    /*background-color: var(--twilight-velvet);*/
    box-shadow: var(--aqua-splash) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.15vw + 0.15vh) / 2) + 0.15em) 0 0;
    border: var(--thin-border) solid var(--aqua-splash);
}
#intro-logo-img {
    width: calc(((8vw + 8vh) / 2) + 2em);
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
    max-width: 200px;
    margin: 0;
    padding: 0;
}
#features-section {
    /*background-color: var(--steel-teal);*/
    background-color: var(--cloudy);
    padding: calc(((1vw + 1vh) / 2) + 1em) 0;
    width: 100%;
}
.feature-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0 0 calc(((1vw + 1vh) / 2) + 1em) 0;
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    background-color: var(--black-navy);
    box-shadow: var(--night-velvet) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
.feature-title {
    color: var(--snowflake);
    /*font-size: calc(((2vw + 2vh) / 2) + 7px);*/
    margin: 0;
    padding: 0;
}
.feature-img-div {
    width: calc(((7vw + 7vh) / 2) + 5em);
    height: calc(((7vw + 7vh) / 2) + 5em);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0;
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
    background-color: var(--twilight-velvet);
    /*background-color: var(--twilight-velvet);*/
    box-shadow: var(--night-velvet) 0 0 calc(((0.25vw + 0.25vh) / 2) + 0.5em) calc(((0.15vw + 0.15vh) / 2) + 0.15em);
}
.feature-img {
    width: calc(((7vw + 7vh) / 2) + 5em);
    height: calc(((7vw + 7vh) / 2) + 5em);
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
}
#about-section {
    width: 100%;
    background-image: url("../images/family/my_family_cover.JPEG");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: calc(((4vw + 4vh) / 2) + 1em) 0;
    padding: calc(((20vw + 20vh) / 2) + 5em) 0 0 0;
    border-top: var(--thin-border) solid var(--black-navy);
    border-bottom: var(--thin-border) solid var(--black-navy);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 0 calc(((1vw + 1vh) / 2) + 1em) 0;
}
#about-text-div {
    width: calc(((50vw + 50vh) / 2) + 5em);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: calc(((5vw + 5vh) / 2) + 2em) 0 0 0;
    border-radius: calc(((1vw + 1vh) / 2) + 1em);
    background-color: var(--black-navy);
    box-shadow: var(--night-velvet) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
    max-width: 1200px;
}
#about-text {
    color: var(--snowflake);
    padding: 0;
}
#family-cover-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(((0.5vw + 0.5vh) / 2) + 0.5em);
    margin: 0;
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
    /*background-color: var(--steel-teal);*/
    /*box-shadow: var(--night-velvet) 0 0 calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.15vw + 0.15vh) / 2) + 0.15em);*/
    width: 50%;
}
#family-cover-img {
    width: 100%;
    border-radius: calc(((2vw + 2vh) / 2) + 2em);
    /*box-shadow: var(--black-navy) 0 0 calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em);*/
}