#title-section {
    width: calc(((80vw + 80vh) / 2) + 3em);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: min(1200px, 90vw);
    margin: calc(((1.5vh + 1.5vw) / 2) + 0.25em) 0;
    background-color: var(--steel-teal);
    border-radius: calc((2.35vh + 2.35vw) / 2);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em) calc(((1vh + 1vw) / 2) + 0.5em);
    box-shadow: var(--cloudy) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
#smoothie-word {
    color: #FF7BAC;
    /*color: var(--twilight-velvet);*/
}

.output-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(((1.5vh + 1.5vw) / 2) + 0.25em) 0;
    background-color: var(--cloudy);
    padding: calc(((1vh + 1vw) / 2) + 0.5em) 0;
}
#individual-items-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.smoothie-item-status-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#smoothie-output-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(((1.5vh + 1.5vw) / 2) + 0.25em) 0;
}
.smoothie-item-output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#smoothie-input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 calc(((1.5vh + 1.5vw) / 2) + 0.25em) 0;
}
.smoothie-item-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.25em);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em);
    border: var(--thin-border) solid var(--night-velvet);
    border-radius: calc((2.35vh + 2.35vw) / 2);
    width: calc(((23vh + 23vw) / 2) + 6em);
    height: calc(((20vh + 20vw) / 2) + 6em);
    background-color: var(--twilight-velvet);
    color: var(--snowflake);
    box-shadow: var(--cloudy) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
.food-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(((0.4vh + 0.4vw) / 2) + 0.2em) 0 calc(((0.2vh + 0.2vw) / 2) + 0.1em) 0;
}
.smoothie-icon {
    width: calc(((9vh + 9vw) / 2) + 3em);
    background-color: var(--snowflake);
    border-radius: calc((2.35vh + 2.35vw) / 2);
    padding: calc(((0.5vh + 0.5vw) / 2) + 0.25em);
    border: var(--thin-border) solid var(--aqua-splash);
    box-shadow: var(--cloudy) calc(((0.25vw + 0.25vh) / 2) + 0.25em) calc(((0.25vw + 0.25vh) / 2) + 0.25em) 0 0;
}
#carb-output-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(((1.5vh + 1.5vw) / 2) + 0.25em) 0;
    background-color: var(--steel-teal);
    color: var(--snowflake);
}
#num-drink-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(((0.5vh + 0.5vw) / 2) + 0.25em) 0 0;
}
#num-drink-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.25em) 0;
}
#total-carb-output-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: calc(((0.5vh + 0.5vw) / 2) + 0.25em) 0;
}
#total-carb-output-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: calc(((20vh + 20vw) / 2) + 10em);*/
}
#total-carb-output {
    text-decoration: underline;
}