<!-- salad-ingredient-list.component.html -->
<ng-container>
    <salad-ingredient [type]="SaladIngredientType.LETTUCE" [grams]="salad.lettuceGrams"/>
    <salad-ingredient [type]="SaladIngredientType.PEPPERONI" [grams]="salad.pepperoniGrams"/>
    <salad-ingredient [type]="SaladIngredientType.CHEESE" [grams]="salad.cheeseGrams"/>
    <salad-ingredient [type]="SaladIngredientType.CROUTONS" [grams]="salad.croutonsGrams"/>
    <salad-ingredient [type]="SaladIngredientType.DRESSING" [grams]="salad.dressingGrams"/>
</ng-container>