<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Sigwarth Home Tools</title>
    <link rel="icon" href="../static/images/favicon/logo_no_text_transparent_3_cropped.ico">
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/style/home-style.css}">
</head>
<body>
<nav id="nav-bar">
    <section id="nav-items">
        <a>
            <div class="nav-item">
                <h4 class="nav-text">
                    Home
                </h4>
            </div>
        </a>
    </section>
</nav>
<main>
    <section id="intro-section">
        <div class="flexed-row-spaced">
            <div id="title-with-motto-div">
                <div>
                    <h1 id="title-text">
                        Sigwarth Home Tools
                    </h1>
                </div>
                <div id="motto-text-div">
                    <h4 id="motto-text">
                        Tools for my home... and yours too!
                    </h4>
                </div>
            </div>
            <div id="intro-logo-div">
                <img src="../static/images/logo/logo_no_text_cropped.png"
                        th:src="@{/images/logo/logo_no_text_cropped.png}"
                     alt="Sigwarth Home Tools Logo"
                     id="intro-logo-img">
            </div>
        </div>

    </section>
    <section id="features-section" class="flexed-row-spaced">
        <div class="feature flexed-row-spaced-vertical">
            <div class="feature-title-div">
                <h3 class="feature-title">
                    Carb Counter
                </h3>
            </div>
            <div class="feature-img-div">
                <img src="../static/images/calculator.png"
                        th:src="@{/images/calculator.png}"
                     alt="Carb Counter Image"
                     class="feature-img">
            </div>
        </div>
        <div class="feature flexed-row-spaced-vertical">
            <div class="feature-title-div">
                <h3 class="feature-title">
                    Smoothie Sizes
                </h3>
            </div>
            <div class="feature-img-div">
                <img src="../static/images/smoothie.png"
                     th:src="@{/images/smoothie.png}"
                     alt="Smoothie Image"
                     class="feature-img">
            </div>
        </div>
        <div class="feature flexed-row-spaced-vertical">
            <div class="feature-title-div">
                <h3 class="feature-title">
                    Infusion Site Tracker
                </h3>
            </div>
            <div class="feature-img-div">
                <img src="../static/images/calendar.png"
                     th:src="@{/images/calendar.png}"
                     alt="Infusion Site Image"
                     class="feature-img">
            </div>
        </div>
    </section>
</main>
<footer>
    <section id="footer-section">
        <div class="flexed-row">
        </div>
    </section>
</footer>
</body>
</html>