<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Sigwarth Home Tools</title>
    <link rel="icon" href="../static/images/favicon/logo_no_text_transparent_3_cropped.ico">
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/too-many-requests-style.css"
          th:href="@{/style/too-many-requests-style.css}">
</head>
<body data-page="too-many-requests">
<section id="message-section">
    <div id="message-div">
        <h1>TOO MANY REQUESTS. PLEASE WAIT AND TRY AGAIN.</h1>
    </div>
</section>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>