// smoothie-input-carousel.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";
@import "../tool-carousel/tool-carousel.component";

smoothie-input-carousel {
    @extend tool-carousel;
    background-color: $faded-purple-sprite;
    height: $twenty-five-percent;
    ngb-carousel {
        height: 100%;
        .carousel-inner {
            height: 100%;
        }
    }
}
