// ss-input.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

ss-input {
    @include flex(center, center, row);
    input {
        @extend %fill-container;
        border: $very-thin-border $neutral-black solid;
        border-radius: $quarter-percent;
        //background-color: mix($very-faded-modern-green, $pure-white);
        background-image: radial-gradient(at center, $pure-white 80%, $faded-neutral-black);
        font-size: calc($h6-font-size * 1.1);
        text-align: right;
        padding: $quarter-percent;
        box-shadow: none;
        transition: border, background-color, box-shadow 0.25s;
        font-family: $source-code-font;
        &:focus {
            border: $thin-border $neutral-black solid;
            background-color: $pure-white;
            box-shadow: 0 $eighth-percent $half-percent $quarter-percent $faded-neutral-black;
        }
    }
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: $three-quarter-percent;
        background: #ddd;
        border-radius: $quarter-percent;
        outline: none;
        opacity: 0.9;
        transition: background 0.3s;
    }
    input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-track {
        background: #ddd;
        height: $three-quarter-percent;
        border-radius: $quarter-percent;
    }
    input[type="range"]::-ms-track {
        background: transparent;
        border-color: transparent;
        color: transparent;
        height: $three-quarter-percent;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        @include square-size($two-percent);
        background: $neutral-black;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 $eighth-percent $quarter-percent rgba(0, 0, 0, 0.2);
        transition: background 0.3s;
    }
}